[submodule "GotaSoundIO"]
	path = GotaSoundIO
	url = https://github.com/vlcoo/GotaSoundIO
[submodule "GotaSoundBank"]
	path = GotaSoundBank
	url = https://github.com/vlcoo/GotaSoundBank
[submodule "GotaSequenceLib"]
	path = GotaSequenceLib
	url = https://github.com/vlcoo/GotaSequenceLib
