[submodule "GotaSoundIO"]
	path = GotaSoundIO
	url = https://github.com/Gota7/GotaSoundIO.git
[submodule "GotaSoundBank"]
	path = GotaSoundBank
	url = https://github.com/Gota7/GotaSoundBank.git
[submodule "GotaSequenceLib"]
	path = GotaSequenceLib
	url = https://github.com/Gota7/GotaSequenceLib.git
